<div class="jumbotron">
  <div class="well">
  <h1>Welcome To Blog Spot</h1>
  <p>This site consists of articlaes related to Web designing and Programming.So if your looking for a page to learn new things , best updates?Yahh! you are at the right Page.</p>
  <%= link_to 'Guest Checkout',posts_path,class:"btn btn-primary btn-lg"%>
  <%= link_to 'Sign Up',new_user_registration_path,class:"btn btn-primary btn-lg"%>
  </div>
</div>
